<ul class="topnav">

    <%if(adress=='home'){%>
    <li><a class="active" href="/">Home</a></li>
    <%}%>
    <%if(adress!='home'){%>
    <li><a  href="/">Home</a></li>
    <%}%>
    <%if(adress=='movies'){%>
    <li><a class="active" href="/movies">Movies</a></li>
    <%}%>
    <%if(adress!='movies'){%>
    <li><a  href="/movies">Movies</a></li>
    <%}%>
    <%if(adress=='tv'){%>
    <li><a class="active" href="/tv">TV</a></li>
    <%}%>
    <%if(adress!='tv'){%>
    <li><a  href="/tv">TV</a></li>
    <%}%>
    <%if(adress=='team'){%>
    <li><a class="active" href="/team">Team</a></li>
    <%}%>
    <%if(adress!='team'){%>
    <li><a  href="/team">Team</a></li>
    <%}%>


</ul>