<%include partials/header.ejs%>
<%include partials/navbar.ejs%>
</div>
<div class="about-us-heading">
    <strong>About Us</strong>
</div>
<div class="who-are-we-heading"><div class="line-summary"></div><strong>Who are we?</strong><div class="line-summary4"></div>
    <div class="who-are-we">
        We are a bunch of geeks from YMCAUST FARIDABAD, pursuing Btech degree in Computer Engineering.
    </div>
</div>
<div class="our-skills-heading"><div class="line-summary"></div><strong>Our Skills</strong><div class="line-summary5"></div>
    <ul class="skills-list">
        <li>C,C++</li>
        <li>HTML5 and CSS3</li>
        <li>Angular5,NodeJS</li>
        <li>Kotlin</li>
        <li>Python3</li>
        <li>Java</li>
        and still counting....
    </ul>
</div>
<div class="why-we-are-doing-this-heading"><div class="line-summary"></div><strong>Why we are doing this?</strong><div class="line-summary6"></div>
    <div class="why-we-are-doing-this">
        We are doing this because the most important activity during the btech degree i.e. the whole four year is watching movies.We are providing the place where students can compare movies and know about the movies before watching the movie so that they wont regret after watching movie.
    </div>
</div>

<%include partials/footer.ejs%>

