<%include partials/header.ejs%>
<body>
    <%include partials/navbar.ejs%>
    <div class="container-s">
        <div class="latest-s wrapper">
            <div class="heading-s">
                LATEST MOVIES
                <span class="more"><i class="fa fa-angle-double-right"></i></span>
            </div>
            <div class="movies-s">
                <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                
        </div>
            </div>
            <div class="action-s wrapper">
                    <div class="heading-s">
                        ACTION MOVIES
                        <span class="more"><i class="fa fa-angle-double-right"></i></span>
                    </div>
                    <div class="movies-s">
                        <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                        <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                        <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                        <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                        <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                        <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                        <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                        <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                        
                </div>
                    </div>
                    <div class="action-s wrapper">
                            <div class="heading-s">
                                ROMANTIC MOVIES
                                <span class="more"><i class="fa fa-angle-double-right"></i></span>
                            </div>
                            <div class="movies-s">
                                <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                                <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                                <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                                <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                                <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                                <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                                <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                                <span class="image-s"><img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" alt="" ><a href="#" class="moviename-s">Nightcrawler</a></span>
                                
                        </div>
                            </div>
    </div>
</body>

<%include partials/footer.ejs%>

