<%include partials/header.ejs%>
<%include partials/navbar.ejs%>

<form action="/register" method="POST">
<fieldset>
<legend>Personal Information:</legend>
  Name:<br>
  <input type="text" name="name" placeholder="Name" autofocus required>
  <br>
  Email Id:<br>
  <input type="email" name="username" placeholder="x@email.com" required><br>
  Password:<br>
  <input type="password" name="password" maxlength="20" required><br>
   Confirm Password:<br>
  <!-- <input type="password" name="password" maxlength="20" required><br><br> -->
  <input type="submit" name="submit">
  <input type="reset">
  </field>
</form>


<%include partials/footer.ejs%>
